.action--button {
  margin-top: 5px;
  padding: 15px 90px;
  font-size: 18px;
  border: none;
  background: #ec5858;
  color: white;
  border-radius: 5px;
  text-align: left;
  text-decoration: none;
}

.action--button:hover {
  cursor: pointer;
  background: black;
}
