.arrows {
  section {
    position: absolute;
    font-size: 40px;
    top: 20vh;
  }

  section:first-child {
    left: 0.1vw;
  }

  section:last-child {
    right: 0.1vw;
  }

  button {
    color: black;
    font-size: 40px;
    border: none;
    background:white;
    outline: none;
    border-radius:50%;
    border:solid 1px rgba(0,0,0,0.5);
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    height:55px;

    :hover {
      cursor: pointer;
    }
  }
}
