.arrows {
  section {
    position: absolute;
    font-size: 40px;
    top: 20%;
  }

  section:first-child {
    left: 0.15%;
  }

  section:last-child {
    right: 0.15%;
  }

  button {
    color: black;
    font-size: 40px;
    border: none;
    background: inherit;
    outline: none;

    :hover {
      cursor: pointer;
    }
  }
}
