.arrows {
  section {
    position: absolute;
    font-size: 40px;
    top: 20%;
  }

  section:first-child {
    left: 0.2%;
  }

  section:last-child {
    right: 0.2%;
  }

  button {
    color: black;
    font-size: 40px;
    border: none;
    background: inherit;

    :hover {
      cursor: pointer;
    }
  }
}

@media (max-width: 600px) {
  .arrows {
    button {
      font-size: 50px;
    }
    section:first-child {
      top: 88%;
      left: 74%;
    }
    section:last-child {
      top: 88%;
      left: 75%;
      margin-left: 50px;
    }
  }
}
