.homepage .daily--todo-list {
  display: flex;
  align-items: center;
  width: 90vw;
  margin: auto;
  margin-top: 110px;
  border-top: solid 1px rgba(0, 0, 0, 0.4);
  border-bottom: solid 1px rgba(0, 0, 0, 0.4);
}

@media (max-width: 750px) {
  .homepage .daily--todo-list {
    border: solid 1px rgba(0, 0, 0, 0.4);
  }

  .homepage .daily--todo-list main {
    display: none;
  }

  .homepage .daily--todo-list main:nth-child(2) {
    display: block;
    width: 100%;
  }
}
