.landingpage--main {
  width: inherit;
  font-family: arial;
  margin-top: 200px;
}

.landingpage--section-one {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap-reverse;
  margin: auto;
  width: 85%;

  p {
    font-size: 25px;
    font-weight: 200px;
  }

  div:first-child {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 50px;
    margin-top: -10px;
  }

  div:last-child img {
    width: 400px;
    margin-top: -50px;
  }
}

@media (max-width: 990px) {
  .landingpage--section-one {
    margin-top: -100px;
    justify-content: center;
    align-items: center;
    width: 95%;

    button {
      margin: auto;
    }

    div:last-child img {
      margin-top: 20px;
      width: 300px;
    }

    div:first-child p {
      margin-top: 40px;
    }
  }
}

.landingpage--section-two {
  margin: auto;
  margin-top: 250px;
  margin-bottom: 50px;
  width: 85%;

  section {
    display: flex;
    justify-content: space-between;
  }

  div {
    width: 200px;
    padding-right: 20px;
    font-size: 18px;
  }

  p:first-child {
    text-align: center;
    font-size: 25px;
  }

  section img {
    width: 100px;
    height: 100px;
    margin-bottom: -40px;
  }
}

@media (max-width: 990px) {
  .landingpage--section-two {
    width: 95%;
    margin-top: 70px;

    section {
      flex-direction: column;
    }

    div {
      width: 95%;
      margin: auto;
    }
  }
}

.landingpage--section-three {
  display: flex;
  justify-content: center;
  align-items: center;
  background: whitesmoke;
  margin-top: 220px;
  width: 100%;
  padding: 60px 0;

  p {
    font-size: 25px;
  }

  img {
    width: 290px;
    height: auto;
    margin-right: 100px;
  }
}

@media (max-width: 990px) {
  .landingpage--section-three {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px;

    img {
      margin: auto;
    }

    button {
      margin: auto;
    }

    section:last-child {
      width: 100%;
      margin-top: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}

.landingpage--section-four {
  margin-top: 220px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  div {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 25px;
  }

  div p {
    margin-top: -10px;
  }
}

@media (max-width: 900px) {
  .landingpage--section-four {
    margin-top: 70px;
    margin-bottom: 10px;
  }
}
