.homepage--nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background: black;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  font-family: arial;

  button {
    border: none;
    background: none;
    outline: none;
    display: flex;
    align-items: center;
    color: white;
    position: relative;

    p {
      margin: 0 5px;
    }
  }

  button:hover {
    cursor: pointer;
  }

  img {
    width: 20px;
    height: 20px;
  }

  section {
    display: flex;
    align-items: center;
  }

  section:last-child p {
    font-size: 13px;
    margin-right: 5px;
  }
}
