.todo--date {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;

  .date-today {
    width: 4px;
    height: 4px;
    background: skyblue;
    border-radius: 50%;
    margin-left: 5px;
  }

  p {
    margin-left: 5px;
    font-size: 14px;
    letter-spacing: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    white-space: nowrap;
  }
}
