.todo--date {
  display: flex;
  align-items: center;
  justify-content: center;

  .date-today {
    width: 10px;
    height: 10px;
    background: skyblue;
    border-radius: 50%;
  }

  .date-backward {
    color: rgba(0, 0, 0, 0.4);
  }

  p {
    margin-left: 7px;
    margin-right: 7px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
}
