.todo_app {
  nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
  }

  button {
    border: none;
    background: none;
    outline: none;
    display: flex;
    align-items: center;
    color: white;
    position: relative;

    p {
      margin: 0 5px;
    }
  }

  img {
    width: 20px;
    height: 20px;
  }
}

.todo_box {
  width: 55%;
  margin: auto;
}

.logout_dropdown {
  position: absolute;
  top: 35px;
  background: white;
  color: black;
  border: solid 1px rgba(0, 0, 0, 0.2);
  width: 120px;
}

.logout_dropdown button {
  color: black;
  width: 100%;
}

.todo_app main {
  display: flex;
  align-items: center;
  width: 75%;
  margin: auto;
  margin-top: 85px;
}

.todo_app main .arrow_left,
.todo_app main .arrow_right {
  font-size: 40px;
  position: fixed;
  top: 50%;
}

.todo_app main .arrow_left {
  left: 10%;
}

.todo_app main .arrow_right {
  right: 10%;
}

.todo_app .arrow_left button,
.todo_app .arrow_right button {
  color: black;
  font-size: 40px;
}

@media (max-width: 990px) {
  .todo_box {
    width: 75%;
  }
}

@media (max-width: 600px) {
  .todo_box {
    width: 100vw;

    .todo__box {
      border: none;
    }
  }

  .todo_app {
    width: 100%;

    main {
      width: 100%;

      .arrow_left {
        top: 90%;
        left: 67%;
      }

      .arrow_right {
        top: 90%;
        left: 67%;
        margin-left: 50px;
      }
    }
  }
}
