.todo_box {
  width: 55%;
  margin: auto;
}

.todo_app main {
  display: flex;
  align-items: center;
  width: 75%;
  margin: auto;
  margin-top: 85px;
}

@media (max-width: 990px) {
  .todo_box {
    width: 75%;
  }
}

@media (max-width: 600px) {
  .todo_box {
    width: 100vw;

    .todo__box {
      border: none;
    }
  }

  .todo_app {
    width: 100%;

    main {
      width: 100%;
    }
  }
}
