.navbar_login__btn,
.navbar_signup__btn {
  border: none;
  padding: 10px 25px;
  margin-right: 5px;
  border-radius: 5px;
}

.navbar_signup__btn {
  background: #ec5858;
  color: white;
}

.navbar_signup__btn:hover {
  background: black;
}

.navbar_login__btn {
  background: inherit;
  border: solid 1px rgba(0, 0, 0, 0.5);
}

.action_btn {
  margin-top: 15px;
  padding: 15px 100px;
  font-size: 20px;
  border: none;
  background: #ec5858;
  color: white;
  border-radius: 5px;
  text-align: left;
}

.action_btn:hover {
  background: black;
}
