.todosBoard {
  display: flex;
  width: 90vw;
  max-width: 1500px;
  margin: auto;
  margin-bottom: 40px;
  overflow: hidden;
}

.todosBoard p {
  text-align: center;
  font-size: 14px;
}

.todosBoard section:first-child {
  border-left: solid 1px rgba(0, 0, 0, 0.2);
}

.todosBoard section {
  flex: 1 1 0px;
  height: 100%;
  border: solid 1px rgba(0, 0, 0, 0.2);
  border-left: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.todosBoard li,
.todosBoard input {
  border: none;
  outline: none;
  border-top: solid 1px rgba(0, 0, 0, 0.2);
  list-style: none;
  padding: 5px;
  font-size: 14px;
  height: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  box-sizing: border-box;
  width: 100%;
}

@media (max-width: 799px) {
  .todosBoard section {
    display: none;
  }

  .todosBoard section:first-child {
    display: block;
  }
}
