html,
body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

button:hover {
  cursor: pointer;
}

* {
  box-sizing: border-box;
}
