.homeSectionOne {
  display: flex;
  align-items: center;
  max-width: 1500px;
  width: 90vw;
  margin: auto;
  margin-top: 18vh;
}

.homeSectionOne section {
  width: 50%;
}

.homeSectionOne section:first-child {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.homeSectionOne section:first-child div {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 17px;
}

.homeSectionOne h2 {
  margin-top: 50px;
  padding: 0 15px;
}

.homeSectionOne img {
  width: 40vw;
  max-width: 700px;
  height: auto;
  display: block;
  margin: auto;
}

.homeSectionOne input,
.homeSectionOne button {
  height: 100%;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 12px 20px;
}

.homeSectionOne input {
  padding-left: 6px;
  padding-right: 5px;
  border: solid 1px rgba(0, 0, 0, 0.2);
}

.homeSectionOne button {
  background: #52be80;
  font-size: 15px;
  margin-left: 10px;
  color: white;
}

.homeSectionOne button:hover {
  background: #379c63;
}

/*responsiveness */
@media (max-width: 799px) {
  /*media query for section one */
  .homeSectionOne {
    flex-direction: column-reverse;
  }

  .homeSectionOne section {
    width: 100%;
    text-align: center;
  }

  .homeSectionOne section:first-child div {
    margin: auto;
  }

  .homeSectionOne img {
    margin-top: 50px;
    width: 75vw;
  }
}

@media (max-width: 859px) and (min-width: 800px) {
  .homeSectionOne input,
  .homeSectionOne button {
    width: 300px;
    margin-top: 5px;
    margin-left: 0;
  }
}

@media (max-width: 410px) {
  .homeSectionOne input,
  .homeSectionOne button {
    margin: auto;
    width: 85vw;
    margin-top: 10px;
  }
}
