.landingPage {
  background: #222831;
  color: white;
}

.sectionOne {
  max-width: 1500px;
  width: 90vw;
  margin: auto;
  padding-top: 10vh;
  text-align: center;
}

.sectionOne p,
.sectionOne h2 {
  min-width: 290px;
  max-width: 42vw;
  margin: auto;
  white-space: pre-line;
}

.sectionOne p {
  font-size: 13px;
  margin: 25px auto;
}

.sectionOne img {
  width: 50vw;
  max-width: 700px;
  height: auto;
  display: block;
  margin: auto;
  margin-bottom: 25px;
}

.sectionOne button {
  padding: 15px 20px;
  width: 180px;
  border-radius: 50px;
  border: none;
  background: #0a81ab;
  color: white;
}

.sectionOne button:hover {
  background: #0b8dbd;
}

.sectionTwo {
  margin: auto;
  margin-top: 13vh;
  width: 90vw;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 7vh;
}

.sectionTwo p {
  font-size: 13px;
  padding: 0 20%;
}

.sectionTwo i {
  font-size: 40px;
}

@media (max-width: 700px) {
  .sectionTwo {
    display: flex;
    flex-direction: column;
  }
}

.sectionThree {
  margin: 20vh 20px 100px 20px;
  max-width: 1500px;
  display: flex;
  justify-content: center;
}

.sectionThree section {
  display: block;
  margin: 20px auto 0;
  text-align: left;
  max-width: 480px;
  border-radius: 6px;
  padding: 16px 23px 7px 16px;
  box-sizing: border-box;
  font-size: 15px;
  background-color: rgba(68, 68, 68, 0.04);
}

.sectionThree section div {
  display: flex;
  align-items: center;
}

.sectionThree div:last-child {
  margin-left: 1.5vw;
}

.sectionThree section div span {
  margin-left: 9px;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: bold;
}

.sectionThree img {
  width: 35px;
  height: 35px;
  object-fit: cover;
  border-radius: 50%;
}

.sectionThree p {
  margin-left: 44px;
  margin-top: -3px;
  font-size: 14px;
}

@media (max-width: 599px) {
  .sectionThree {
    flex-direction: column;
    width: 85vw;
    margin-left: auto;
    margin-right: auto;
  }

  .sectionThree section {
    width: 85vw;
    max-width: 85vw;
  }

  .sectionThree > div:last-child {
    margin-left: -2px;
  }
}

.footer {
  background: whitesmoke;
  padding: 5px 0 5px 0;
  text-align: center;
  margin-top: 20vh;
}

.footer p:first-child {
  font-size: 14px;
}

.footer p:last-child {
  font-size: 12px;
  opacity: 0.6;
  margin-top: -10px;
  animation: refurbish linear 5s infinite;
}

@keyframes refurbish {
  0% {
    color: red;
  }
  50% {
    color: green;
  }
  100% {
    color: firebrick;
  }
}
