.loginPage {
  margin-top: 12vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loginPage p {
  text-align: center;
  font-size: 13px;
  margin-bottom: 20px;
}

.loginPage a {
  color: blue;
}

.loginPage div {
  background: white;
  max-width: 440px;
  box-shadow: 0 5px 20px 0 rgb(21 27 38 / 8%);
  border-radius: 8px;
  width: calc(100% - 16px);
  margin-top: 80px;
  margin-bottom: 20px;
}

.loginPage form {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: auto;
  margin-top: 60px;
}

.loginPage input {
  border: solid 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background: inherit;
  outline: none;
  margin-bottom: 20px;
  padding: 8px 12px;
}

.loginPage label {
  margin-bottom: 5px;
  font-size: 13px;
  opacity: 0.6;
}

.loginPage button {
  margin-top: 15px;
  background: #6495ed;
  color: white;
  padding: 9px 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
}

.loginPage button:hover {
  background: #517ed1;
}
