.nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: inherit;
  color: white;
  z-index: 1;
}

.nav div {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav ul:last-child a {
  font-size: 13px;
}

.nav ul:last-child a:hover {
  color: #0a81ab;
}

.nav ul:last-child a:last-child {
  margin-left: 3vw;
  padding: 9px 16px;
  width: 180px;
  border-radius: 50px;
  border: none;
  background: #0a81ab;
}

.nav ul:last-child a:last-child:hover {
  color: white;
  background: #0b8dbd;
}

.hideSignupLink a:last-child {
  display: none;
}

.hideLoginLink a:first-child {
  display: none;
}
