.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
  background: white;
  z-index: 1;
}

.nav ul:first-child {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1.2px;
  font-weight: bold;
}

.nav ul:last-child a {
  font-size: 14px;
}

.nav ul:last-child a:last-child {
  margin-left: 12px;
  background: #52be80;
  color: white;
  padding: 9px 15px;
  border-radius: 5px;
}

.nav ul:last-child a:last-child:hover {
  background: #379c63;
}

.hideSignupLink a:last-child {
  display: none;
}

.hideLoginLink a:first-child {
  display: none;
}
