.todoDetailModal {
  position: fixed;
  top: 17vh;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  box-shadow: 0 5px 20px 0 rgb(21 27 38 / 15%);
  z-index: 2;
  min-width: 450px;
  padding: 15px;
}

.todoDetailModal p {
  white-space: pre-wrap;
  text-align: left;
}

.todoDetailModal span,
.todoDetailModal div {
  display: flex;
  align-items: center;
  font-size: 17px;
}

.todoDetailModal div {
  justify-content: space-between;
}

.todoDetailModal span p {
  margin-left: 5px;
  font-size: 12px;
}

.todoDetailModal button {
  border: none;
  outline: none;
  background: inherit;
  font-size: 15px;
}

.todoDetailModal button:first-child {
  font-size: 16.5px;
  margin-top: 1px;
}

.todoDetailModal button:nth-child(2) {
  font-size: 13px;
  margin-top: 1px;
}

.todoDetailModal input {
  border: none;
  word-break: break-all;
}

.todoDetailModal input:focus {
  border-top: none;
  background: whitesmoke;
}

@media (max-width: 500px) {
  .todoDetailModal {
    min-width: 95vw;
  }
}
